body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.6;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container Section */
.container-fluid {
  padding: 7% 15%;
}

.carousel-item {
  padding: 1% 15%;
}

/* Section */
.colored-section {
  background-color: #ff4c68;
  color: #FFF;
}

.white-section {
  background-color: #fff;
}

/* Navbar section */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

/* Features Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.features-box {
  padding: 5%;
  position: static;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
}

.press-image {
  width: 100%;
}

/* Pricing section */
#pricing {
  margin: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 50px;
}

/* Footer section */
.social-icon {
  margin: 20px 10px;
}

/* Title media breakpoint for tablets and mobile */
@media (max-width : 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
